<div class="row">
    <div class="col-lg-9 col-md-8">
        <div class="heading">
            <div class="row">
                <div class="col-xs-6">
                    <p class="title">Products</p>
                </div>
                <div class="col-xs-6 action-bar">

                </div>
            </div>
            <hr />
        </div>

        <div class="row" ng-show="model.Products">
            <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="product in model.Products">
                <div class="pane" data-navigate="#/form">
                    <i ng-hide="product.ImageUrl" class="fa fa-square fa-4x"></i>
                    <img ng-src="{{product.ImageUrl}}" ng-show="product.ImageUrl" class="img-responsive" height="100" />
                    <div class="text-center">
                        <p style="margin-top:10px;font-size:23px">{{product.Name}}</p>
                        <p style="font-weight:bold">${{product.Price | number : 2}}</p>
                        <button ng-click="model.addToCart(product)" class="btn btn-primary"><i class="fa fa-cart-plus"></i>Add to Cart</button>

                    </div>

                </div>
            </div>
        </div>
        <div class="row" ng-hide="model.Products">
            <div class="col-lg-12">
                <p class="empty" style="margin:50px">
                    There are no products Available
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4">
        <div class="heading">
            <div class="row">
                <div class="col-xs-6">
                    <p class="title"><i class="fa fa-shopping-cart"></i>Cart</p>
                </div>
                <div class="col-xs-6 action-bar">

                </div>
            </div>
            <hr />
        </div>

        <div class="row" ng-show="model.displayCart()">
            <div class="col-xs-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Quantity</th>
                            <th>Product</th>
                            <th class="text-right">Price</th>
                            <th class="text-right">Total</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="item in model.Cart.Items">
                            <td>{{item.Quantity}}</td>
                            <td>{{item.Product.Name}}</td>
                            <td class="text-right">${{item.Product.Price | number: 2}}</td>
                            <td class="text-right">${{item.Product.Price * item.Quantity | number : 2}}</td>
                        </tr>

                        <tr>
                            <td colspan="3" class="text-right">
                                <b>Total</b>
                            </td>
                            <td class="text-right">
                                <b>$ {{model.displayTotal(model.Cart) | number: 2}}</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" ng-hide="model.displayCart()">
            <div class="col-xs-12">

                <div class="empty" style="margin:50px">
                    <i class="fa fa-shopping-cart fa-5x" style="color:grey"></i>
                    <p style="margin-top:20px">Cart is Empty</p>
                </div>
            </div>
        </div>

        <hr />
        <div class="text-right">
            <button ng-click="model.checkout()" class="btn btn-success">
                <i class="fa fa-shopping-bag"></i>Checkout
            </button>
        </div>
    </div>
</div>