<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Dumia" connectionString="Data Source=(local);Initial Catalog=Vamia-Complete;Integrated Security=True;User ID=admin1;Password=admin1;MultipleActiveResultSets=True;App=EntityFramework"/>
  </connectionStrings>
</configuration>
