@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
    font-family: Calibri,'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}
